* {
  margin: 0;
  padding: 0;
  padding-left:5px;
  padding-right:5px;
}

header {
  padding-bottom: 20px;
  background-color: #2e2e2e;
}

h2 {
  /*change font size*/
  /*change font color to the accent color in the illustrator file*/
  color: pink;
}

h3 {
  color:white;
}

p {
  color:white;
}

body {
  background-color:#141414;
}


li{
  font-size: 40px;
  /* padding-left:8%; */
  list-style-type: none;
  /* text-align: center; */
  display: inline;
}

.myname {
  font-size: 80px;
  color: white;
  margin-right:200px;
  display: inline;
}

.nav {
  padding-right: 5%;
}

li a{
  background-color: blue;
  color: black;
  text-decoration: none;
  padding:10px;
  border-radius: 5px;
}

li a:visited {
  color: black;
  text-decoration: none;
}

.slideshow {
padding-top: 5px;
margin-bottom:200px;
height:310px;
display: block;
}

/* Slideshow container */
.slideshow-container {
  max-width: 300px;
  margin: auto;
}
/* Hide the images by default */
/* .mySlides {
  display: none;
} */
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

section img {
  opacity: 0.8;
}

/* .sect_img {
  height: 2px;
  opacity: 1;
} */
/* .project_gallery a{
  text-decoration: none;
} */
.project_gallery a {
  text-decoration: none;
}

.project_gallery img {
  padding-top:20px;
  width:300px;
  height: 200px;
}

.project_gallery h3 {
  padding-left:90px;
}

.space{
  margin-bottom: 20px;
}

#column_left {
  padding: 5px;
  float:left;
  background-color: green;
  width:70%;
  height:300px;
}

#column_right {
  background-color: blue;
  text-align: center;
  height:300px;
  padding: 5px;
}

footer {
  text-align: center;
  color: white;
}
